<div class="content container p-5">
    <h4>{{ 'pages.users.add_page.title' | translate }}</h4>
    <div *ngIf="alert" [ngClass]="{'alert-success': alert.type === 'success', 'alert-danger': alert.type === 'error'}" class="alert col-md-10">
        {{ alert.message }}
      </div>
    <div class="card col-10">
      <div class="card-body">
        <div class="container col-10">
          <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
            <div class="row p-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first_name">{{"pages.users.add_page.label.first_name"| translate}}</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{ 'pages.users.placeholders.first_name' | translate }}" formControlName="first_name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last_name">{{"pages.users.add_page.label.last_name"| translate}}</label>
                  <input type="text" class="form-control" id="last_name"  name="last_name" placeholder="{{ 'pages.users.placeholders.last_name' | translate }}" formControlName="last_name">
                </div>
              </div>
            </div>
                
            <div class="row p-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">{{"pages.users.add_page.label.email"| translate}}</label>
                  <input type="email" class="form-control" id="email"  name="email" placeholder="{{ 'pages.users.placeholders.email' | translate }}" formControlName="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="job">{{"pages.users.add_page.label.job"| translate}}</label>
                  <input type="text" class="form-control" id="job"  name="job" placeholder="{{ 'pages.users.placeholders.job' | translate }}" formControlName="job">
                </div>
              </div>
            </div>
            
            <div class="row p-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone_number">{{"pages.users.add_page.label.phone_number"| translate}}</label>
                  <input type="number" name="phone_number" id="phone_number" class="form-control" placeholder="{{ 'pages.users.placeholders.phone_number' | translate }}" formControlName="phone_number">
                </div>
              </div>
            </div>
            
            <div class="text-center p-3">
              <button type="submit" class="btn btn-primary col-3 m-auto" [disabled]="!formData.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  